<head>

    <meta content="3QVeUKy1ito4Vl-kt8C9SI0f5KaA45NzOUXhLiNUn1E" name="google-site-verification"/>

    <meta content="Laura Puzzello's Website. She is an Assistant Professor in the Department of Economics at Monash University."
          name="description">

    <link href="/assets/favicon/android-chrome-192x192.png" rel="icon" sizes="192x192" type="image/png">
    <link href="/assets/favicon/android-chrome-512x512.png" rel="icon" sizes="512x512" type="image/png">
    <link href="/assets/favicon/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="/assets/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png">
    <link href="/assets/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png">
    <link href="/assets/favicon/favicon.ico" rel="shortcut icon">
    <link href="/assets/favicon/site.webmanifest" rel="manifest">

</head>